@import '_reset';

html {
  font: 400 $font-base/1.1 $font;
}

body {
  font-size: 16px;
  background: #232323;
  &.is_overflow {overflow: hidden}
}

main {
  overflow: hidden;
  position: relative;
}

header {
  background: #2d2d2d;
  text-align: center;
  padding: 12px 3% 9px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.codee {
  color: #fff;
  font-family: $codee;
  font-weight: normal;
  font-style: normal;
  span, b {
    color: $mars;
  }
}

h1 {
  font-size: rem(64);
  text-align: center;
  position: relative;
  z-index: 1;
}

h2 {
  font-size: rem(40);
  color: $mars;
  text-align: center;
  font-weight: 700;
  font-family: $font;
  padding-bottom: rem(30);
}

#logo {
  font-family: $codee;
  color: #fff;
  text-align: center;
  font-size: 32px;
}

section {
  padding: 100px 0;
}

.wrap {
  margin: 0 auto;
  width: $pageWidth;
  max-width: 94%;
  position: relative;
  z-index: 1;
}

.button {
  display: block;
  padding: 10px 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  cursor: pointer;
  background: transparent;
  color: #f7f7f7;
  min-width: 150px;
  margin: 20px auto 0;
  font-size: rem(18);
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    background: #f7f7f7;
    height: 100%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    color: $mars;
    &:after {
      left: -10%;
      width: 120%;
    }
  }
}


footer {
  text-align: center;
  padding: 20px;
}


@import "templates/01_naz";
@import "templates/02_ros";
