div.wpcf7 .ajax-loader {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none; }

a, a:hover, input, textarea, select {
  -webkit-tap-highlight-color: transparent;
  outline: 0 none; }

ol, ul {
  list-style: none; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

a img, fieldset, hr {
  border: 0; }

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  a:hover {
    text-decoration: none; }

mark {
  background: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: middle; }

input, select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0;
  width: 100%;
  -webkit-appearance: none; }

input[type="submit"], input[type="button"] {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  width: auto; }

/* Selection */
::-moz-selection {
  color: #fff;
  background: #000; }

::selection {
  color: #fff;
  background: #000; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #999; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #999;
  opacity: 1; }

input, textarea {
  font-family: 'Gotham Pro'; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999;
    opacity: 1; }
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #999;
    opacity: 1; }
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #999;
    opacity: 1; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999;
    opacity: 1; }

input:not([type='submit']) {
  background: #fcfcfc; }
  input:not([type='submit'])::-webkit-input-placeholder {
    color: #aaa;
    line-height: 45px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  input:not([type='submit']):-moz-placeholder {
    color: #aaa;
    line-height: 45px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  input:not([type='submit'])::-moz-placeholder {
    color: #aaa;
    line-height: 45px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  input:not([type='submit']):-ms-input-placeholder {
    color: #aaa;
    line-height: 45px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }

html, body {
  margin: 0;
  height: 100%; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

footer {
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

img.alignleft {
  margin: 0 30px 10px 0; }

img.alignright {
  margin: 0 0 10px 30px; }

.aligncenter {
  margin-left: auto;
  margin-right: auto; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

header, .content, footer {
  width: 100%; }

.valign {
  display: inline-block;
  vertical-align: middle;
  max-width: 94%; }

.vfix {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.wrapper {
  font-size: 0;
  text-align: center;
  margin: 0 -10px; }
  .wrapper .item {
    display: inline-block;
    vertical-align: top; }

#menuOpen {
  background: rgba(255, 255, 255, 0);
  border: medium none;
  cursor: pointer;
  display: none;
  height: 25px;
  position: absolute;
  right: 0;
  top: 29px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 23px;
  z-index: 2000; }
  #menuOpen:before, #menuOpen:after {
    border-radius: 10px;
    box-shadow: 0 3px 0 0 #fff, 0 15px 0 0 #fff;
    -webkit-box-shadow: 0 3px 0 0 #fff, 0 15px 0 0 #fff;
    -moz-box-shadow: 0 3px 0 0 #fff, 0 15px 0 0 #fff;
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  #menuOpen:after {
    border-radius: 10px;
    -webkit-box-shadow: 0 3px 0 0 #fff;
    -moz-box-shadow: 0 3px 0 0 #fff;
    -ms-box-shadow: 0 3px 0 0 #fff;
    -o-box-shadow: 0 3px 0 0 #fff;
    box-shadow: 0 3px 0 0 #fff;
    content: "";
    height: 3px;
    position: absolute;
    top: 6px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
  #menuOpen.active:before, #menuOpen.active:after {
    border-radius: 10px;
    background: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    left: 0;
    right: 0;
    top: 0; }
  #menuOpen.active:before {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    -moz-transform: rotate(-45deg) translate(-7px, 7px);
    -ms-transform: rotate(-45deg) translate(-7px, 7px);
    -o-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-7px, 7px); }
  #menuOpen.active:after {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    -moz-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    -o-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px); }

html {
  font: 400 27.27273px "Gotham Pro", sans-serif; }

body {
  font-size: 16px;
  background: #232323; }
  body.is_overflow {
    overflow: hidden; }

main {
  overflow: hidden;
  position: relative; }

header {
  background: #2d2d2d;
  text-align: center;
  padding: 12px 3% 9px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; }

.codee {
  color: #fff;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal; }
  .codee span, .codee b {
    color: #22BBB4; }

h1 {
  font-size: 2.13333rem;
  text-align: center;
  position: relative;
  z-index: 1; }

h2 {
  font-size: 1.33333rem;
  color: #22BBB4;
  text-align: center;
  font-weight: 700;
  font-family: "Gotham Pro", sans-serif;
  padding-bottom: 1rem; }

#logo {
  font-family: "Josefin Sans";
  color: #fff;
  text-align: center;
  font-size: 32px; }

section {
  padding: 100px 0; }

.wrap {
  margin: 0 auto;
  width: 1140px;
  max-width: 94%;
  position: relative;
  z-index: 1; }

.button {
  display: block;
  padding: 10px 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
  cursor: pointer;
  background: transparent;
  color: #f7f7f7;
  min-width: 150px;
  margin: 20px auto 0;
  font-size: 0.6rem; }
  .button:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    bottom: 0;
    background: #f7f7f7;
    height: 100%;
    left: -10%;
    transform: skewX(15deg);
    z-index: -1; }
  .button:hover {
    cursor: pointer;
    color: #22BBB4; }
    .button:hover:after {
      left: -10%;
      width: 120%; }

footer {
  text-align: center;
  padding: 20px; }

.top-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex; }
  .top-block:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 0; }
  .top-block .wrap {
    margin: auto; }

.contact-us {
  background: linear-gradient(120deg, #22BBB4 25%, #232323 85%); }
  .contact-us .wrap {
    width: 600px; }
  .contact-us h2 {
    color: #fff; }

.contact-us__items {
  display: flex;
  justify-content: space-between; }
  .contact-us__items .item {
    flex-basis: 48%; }

.about_us {
  background: #ff00ff; }

div.wpcf7 .wpcf7-form-control-wrap {
  display: block !important; }
div.wpcf7 .wpcf7-not-valid-tip {
  background: #fff;
  border: 1px solid #FF0000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  font-family: "Gotham Pro", sans-serif;
  height: 100%;
  line-height: 45px;
  padding: 0 10px; }
div.wpcf7 .wpcf7-response-output {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  font: 400 16px/1.4 "Gotham Pro", sans-serif;
  color: #fff;
  padding: 0.23333rem 0.33333rem;
  border-radius: 0;
  text-align: center; }
  div.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ng {
    background: #1091ae;
    position: relative; }
  div.wpcf7 .wpcf7-response-output.wpcf7-mail-sent-ok {
    background: #16a085;
    position: relative; }
  div.wpcf7 .wpcf7-response-output.wpcf7-validation-errors, div.wpcf7 .wpcf7-response-output.wpcf7-spam-blocked {
    background: #ff5f5f;
    position: relative; }
div.wpcf7 input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), div.wpcf7 textarea {
  display: block;
  height: 45px;
  font: 400 16px "Gotham Pro", sans-serif;
  color: #fff;
  padding: 0;
  border: none;
  border-bottom: 2px solid #f7f7f7;
  margin-bottom: 20px;
  background: transparent; }
  div.wpcf7 input:not([type="submit"]):not([type="radio"]):not([type="checkbox"])::-webkit-input-placeholder, div.wpcf7 textarea::-webkit-input-placeholder {
    color: #e9e9e9;
    opacity: 1; }
  div.wpcf7 input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):-moz-placeholder, div.wpcf7 textarea:-moz-placeholder {
    color: #e9e9e9;
    opacity: 1; }
  div.wpcf7 input:not([type="submit"]):not([type="radio"]):not([type="checkbox"])::-moz-placeholder, div.wpcf7 textarea::-moz-placeholder {
    color: #e9e9e9;
    opacity: 1; }
  div.wpcf7 input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]):-ms-input-placeholder, div.wpcf7 textarea:-ms-input-placeholder {
    color: #e9e9e9;
    opacity: 1; }
div.wpcf7 textarea {
  -webkit-transition: none 0.4s ease;
  -moz-transition: none 0.4s ease;
  -ms-transition: none 0.4s ease;
  -o-transition: none 0.4s ease;
  transition: none 0.4s ease;
  resize: none;
  overflow: hidden;
  min-height: 45px;
  line-height: 45px; }
div.wpcf7 button.button + input {
  display: none; }
div.wpcf7 .ajax-loader {
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
  -moz-animation: swiper-preloader-spin 1s infinite linear;
  -ms-animation: swiper-preloader-spin 1s infinite linear;
  animation: swiper-preloader-spin 1s infinite linear;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -48px 0 24px;
  border-radius: 100%;
  border: 2px solid #f1f1f1;
  border-top: 3px solid #22BBB4;
  opacity: 0;
  visibility: hidden; }
  div.wpcf7 .ajax-loader.is-active {
    opacity: 1;
    visibility: visible; }
div.wpcf7 .screen-reader-response {
  display: none; }

/*# sourceMappingURL=style.css.map */
