@import '_reset';

html {
  font: 400 $font-base/1.1 $font;
}

body {
  font-size: 16px;
  background: #232323;
  &.is_overflow {overflow: hidden}
}

main {
  overflow: hidden;
  position: relative;
}

p {
  padding-bottom: rem(15);
}

header {
  background: #2d2d2d;
  text-align: center;
  padding: 12px 3% 9px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  .language-chooser {
    @include center(false, true);
    left: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px;
      &.lang-en a:after {content: 'EN'}
      &.lang-ua a:after {content: 'UA'}
      &.active a {box-shadow: 0 2px $mars}
      a :after {color: #fff}
      span {font-size: 0}
    }
  }
}

.codee {
  color: #fff;
  font-family: $codee;
  font-weight: normal;
  font-style: normal;
  span, b {
    color: $mars;
  }
}

h1 {
  font-size: rem(64);
  text-align: center;
  position: relative;
  z-index: 1;
}

h2 {
  font-size: rem(40);
  color: $mars;
  text-align: center;
  font-weight: 700;
  font-family: $font;
  padding-bottom: rem(30);
}

#logo {
  font-family: $codee;
  color: #fff;
  text-align: center;
  font-size: 32px;
}

section {
  padding: 100px 0;
}

.wrap {
  margin: 0 auto;
  width: $pageWidth;
  max-width: 94%;
  position: relative;
  z-index: 1;
}

.button {
  @extend %ani;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #f7f7f7;
  letter-spacing: 0.05em;
  min-width: 120px;
  padding: 8px 20px;
  border: 2px solid #f7f7f7;
  background: transparent;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  &:after {
    @extend %ani;
    content: '';
    position: absolute;
    width: 0;
    bottom: 0;
    background: #f7f7f7;
    height: 100%;
    left: -10%;
    @include transform(skewX(30deg));
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    color: $mars;
    &:after {
      left: -10%;
      width: 120%;
    }
  }
}


footer {
  text-align: center;
  padding: 15px 3%;
}


@import "templates/01_naz";
@import "templates/02_ros";
