.top-block {
  @extend .bg;
  @extend .flex_center;
  position: relative;
  min-height: 100vh;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 0;
  }
}

