.top-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
  display: flex;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 0;
  }
  .wrap {
    margin: auto;
  }
}

.contact-us {
  background: linear-gradient(120deg,$mars 25%,#232323 85%);
  .wrap {
    width: 600px;
  }
  h2 {
    color: #fff;
  }
}
.contact-us__items {
  display: flex;
  justify-content: space-between;
  .item {
    flex-basis: 48%;
  }
}
