.about_cols {margin: rem(45) -7% rem(75)}
.about_col {
  margin: 0 7%;
  figure {
    @extend %ani;
    font-size: 70px;
    line-height: 0;
    color: $mars;
    cursor: pointer;
    &.is_active {text-shadow: 0 0 30px #fff}
  }
  @include screen-min(768) {
    > div {display: none}
  }
}
.about_info {
  @extend %ani;
  width: 600px;
  color: #fff;
  margin: 0 auto;
  text-align: center;
  &.is_changing {@include transform(rotateY(360deg))}
}
.about_general_info {display: none}


.contact-us {
  background: linear-gradient(120deg,$mars 25%,#232323 85%);
  .wrap {
    width: 460px;
  }
  h2 {
    color: #fff;
  }
}


div.wpcf7 {
  position: relative;
  .wpcf7-form-control-wrap {
    display: block !important;
    margin-bottom: rem(25);
    position: relative;
    overflow: hidden;
    &:after {
      @include transition(all, 0.6s, ease-in-out);
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 0;
      height: 2px;
      background: $mars;
    }
    &.is_active:after {
      left: 75%;
      width: 100%;
    }
  }
  .wpcf7-not-valid-tip {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 45px;
    font: 400 16px/45px $font;
    color: #ff5f5f;
    padding: 0 10px;
    background: #fff;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #ff5f5f;
    cursor: pointer;
  }
  .wpcf7-response-output {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font: 400 16px/1.4 $font;
    color: #fff;
    padding: rem(7) rem(10);
    border-radius: 0;
    text-align: center;
    &.wpcf7-mail-sent-ng {background: #1091ae; position: relative; margin-top: rem(30)}
    &.wpcf7-mail-sent-ok {background: #16a085; position: relative; margin-top: rem(30)}
    &.wpcf7-validation-errors, &.wpcf7-spam-blocked {background: #ff5f5f; position: relative; margin-top: rem(30)}
  }
  input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]), textarea {
    display: block;
    height: 45px;
    font: 400 16px $font;
    color: #fff;
    padding: 0;
    border: none;
    border-bottom: 2px solid #f7f7f7;
    background: transparent;
    @include placeholder {color: #e9e9e9; opacity: 1}
  }
  textarea {
    @include transition(none);
    resize: none;
    overflow: hidden;
    min-height: 45px;
    line-height: 45px;
  }
  .button_holder {
    text-align: center;
    padding-top: rem(10);
  }
  button.button {
    & + input {display: none}
  }
  .ajax-loader {
    @extend %ani;
    @include prefixer(animation, ajax-loader-spin 1s infinite linear);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 -40px 0 14px;
    border-radius: 100%;
    border: 2px solid #f1f1f1;
    border-top: 3px solid $mars;
    opacity: 0;
    visibility: hidden;
    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
  .screen-reader-response {display: none}
}


@-webkit-keyframes ajax-loader-spin {
  100% { -webkit-transform: rotate(360deg) }
}
@keyframes ajax-loader-spin {
  100% { transform: rotate(360deg) }
}
